{% extends "datatable/base.html" %}
{% block content %}
{% load static %}
<div class="import-form">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h2 class="text-center">Export Data</h2>
    <div class="form-group">
      <span>Choose file type</span>
      <select name="file-format" class="form-control">
        <option>CSV</option>
        <option>JSON</option>
        <option>XLS (Excel)</option>
      </select>
    </div>
    <button class="btn btn-primary btn-block" type="submit">Export</button>
  </form>
</div>
{% endblock %}
