{% extends "datatable/base2.html" %}
{% block content %}
{% load static %}
<div class="import-form">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h2 class="text-center">Import Data</h2>
    <div class="form-group">
      <span>Choose file</span>
      <input class="form-control-file" type="file" name="importData" id="exampleFormControlFile1">
    </div>
    <div class="form-group">
      <span>Choose file type</span>
      <select name="file-format" class="form-control">
        <option>CSV</option>
        <option>JSON</option>
      </select>
    </div>
    <button class="btn btn-primary btn-block" type="submit">Import</button>
  </form>
  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}
</div>
{% endblock %}