{% extends "datatable/base.html" %}
{% block content %}
{% load static %}
<div class="merge-form">
  <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
    <h2 class="text-center">Merge CSV Files</h2>
    <div class="form-group">
      <span>Choose old CSV</span>
      <input class="form-control-file" type="file" name="oldCSV">
      <span>Choose new CSV</span>
      <input class="form-control-file" type="file" name="newCSV">
    </div>
    <button class="btn btn-primary btn-block" type="submit">Merge Files</button>
  </form>
</div>
{% endblock %}
